// Place all the styles related to the gaming controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  font-family: arial;
  text-align: center;
  padding: 80px;
  height: 100vh;
  width: 100vw;
  background-color: teal;
}

