<div class="container">
  <h1>Welcome to the longest word-game !</h1>
  <h3><%= @grid.join(" ") %></h3>

  <form action="/gaming/score" id="game-form">
    <label for="try">What's your best shot ?</label>
    <input type="text" id="try" name="attempt" placeholder="hello">
    <input type="hidden" id="time" name="time" value="">
    <input type="submit" value="submit" class="btn btn-primary">
    <input type="hidden" name="grid" value=<%= @grid.join("") %>>
  </form>
</div>

